{
  "presets": [
    ["babel-preset-gatsby", {
      "targets": {
        "browsers": [">0.25%", "not dead"],
      }
    }],
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true,
    }],
    ["babel-plugin-import", {
      "libraryName": "@material-ui/core",
      "libraryDirectory": "/",
      "camel2DashComponentName": false,
    }, "material-ui"]
  ]
}