.form-field {
  @mixin margin-auto-y 4;
  .form-horizontal & {
    @apply flex items-center;
  }
}

.field-help {
  @apply h-4 text-grey-dark text-sm mt-1;
}

.field-error {
  @apply h-4 text-red text-sm mt-1;
}

.form-control {
  @apply flex items-center relative;
}

.input-label {
  @apply inline-block text-black mb-1;
  .form-horizontal & {
    width: 180px;
    @apply mr-4;
  }
  .form-label-right & {
    @apply text-right;
  }
}

.input {
  @apply w-full px-2 h-8 border border-solid border-grey rounded;
  &.has-error {
    @apply border-2 border-red-dark;
  }
  &::placeholder {
    @apply text-grey;
    opacity: 1;
  }
}

.input-prefix {
  @apply text-grey px-2 absolute pin-l;
}

.input-suffix {
  @apply text-grey px-2 absolute pin-r;
}