.form-field {
  @mixin margin-auto-y 4;
  height: 108px;
  .form-horizontal & {
    @apply flex items-center;
  }
}

.field-help {
  @apply h-4 text-grey-dark text-sm mt-1;
}

.field-error {
  @apply h-4 text-red text-sm mt-1;
}

.form-control {
  @apply flex items-center relative;
}

.input-label {
  @apply inline-block text-black mb-1;
  .form-horizontal & {
    width: 180px;
    @apply mr-4;
  }
  .form-label-right & {
    @apply text-right;
  }
}

.input {
  @apply px-2 h-8 border border-solid border-grey rounded;
  .has-prefix & {
    @apply rounded-l-none;
  }
  .has-suffix & {
    @apply rounded-r-none;
  }
  &.has-error {
    @apply border-2 border-red-dark;
  }
  &::placeholder {
    @apply text-grey;
    opacity: 1;
  }
}

.input-addon {
  @apply bg-grey-light text-grey-darker px-2 h-8 rounded;
  line-height: 1.8;
  .form-control > &:first-child {
    @apply rounded-r-none;
  }
  .input + & {
    @apply rounded-l-none;
  }
}