.modal {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  overflow: auto;
  overflow: overlay;
  @apply fixed pin;
  &.active {
    @apply block;
  }
}

.modal-dialog {
  @apply fixed pin bg-white shadow-lg p-8 overflow-auto;
  @screen md {
    @apply relative w-full max-w-xs mx-auto rounded;
    margin-top: 20vh;
  }
}