.modal {
  @apply fixed pin;
  &.active {
    @apply block;
  }
}

.modal-bg {
  @apply fixed pin bg-black opacity-90;
}

.modal-dialog {
  @apply fixed pin bg-white shadow-lg p-8;
  @screen md {
    @apply relative w-full max-w-xs mx-auto rounded;
    margin-top: 20vh;
  }
}