.popper {
  @apply z-popup;
  [x-arrow] {
    @apply hidden;
  }
}

@define-mixin popper-arrow $color: white, $arrowSize: 7px, $arrowMargin: 8px {
  & [x-arrow] {
    @apply block z-popup absolute border-solid;
  }
  &[x-placement^="top"] {
    margin-bottom: $arrowMargin;
    & [x-arrow] {
      top: 100%;
      border-width: $arrowSize $arrowSize 0 $arrowSize;
      border-color: transparent;
      @apply border-t-$(color);
    }
  }
  &[x-placement^="bottom"] {
    margin-top: $arrowMargin;
    & [x-arrow] {
      bottom: 100%;
      border-width: 0 $arrowSize $arrowSize $arrowSize;
      border-color: transparent;
      @apply border-b-$(color);
    }
  }
  &[x-placement^="right"] {
    margin-left: $arrowMargin;
    & [x-arrow] {
      right: 100%;
      border-width: $arrowSize $arrowSize $arrowSize 0;
      border-color: transparent;
      @apply border-r-$(color);
    }
  }
  &[x-placement^="left"] {
    margin-right: $arrowMargin;
    & [x-arrow] {
      left: 100%;
      border-width: $arrowSize 0 $arrowSize $arrowSize;
      border-color: transparent;
      @apply border-l-$(color);
    }
  }
}