[hidden] {
  display: none !important;
}

.z-tooltip {
  z-index: 100;
}

.z-popup {
  z-index: 200;
  & .z-tooltip {
    z-index: 200;
  }
}

.z-modal {
  z-index: 300;
  & .z-popup {
    z-index: 300;
  }
  & .z-tooltip {
    z-index: 300;
  }
}

