[hidden], [data-hidden]:not([data-hidden="false"]) {
  display: none !important;
}

.z-tooltip {
  z-index: 100;
}

.z-popup {
  z-index: 200;
  & .z-tooltip {
    z-index: 200;
  }
}

.z-modal {
  z-index: 300;
  & .z-popup {
    z-index: 300;
  }
  & .z-tooltip {
    z-index: 300;
  }
}

@responsive {
  .ratio-1\:1 {
    padding-top: 100%;
  }
  .ratio-4\:3 {
    padding-top: 75%;
  }
  .ratio-3\:2 {
    padding-top: 66.66%;
  }
  .ratio-16\:9 {
    padding-top: 56.25%;
  }
  .ratio-7\:5 {
    padding-top: 140%;
  }
}

@responsive {
  .icon-nav {
    & > * {
      @apply w-6 h-6 rounded-full cursor-pointer flex justify-center items-center;
      &:hover {
        @apply bg-grey-lighter;
      }
    }
  }

  .icon-nav-primary > * {
    @apply text-$(primary);
  }
}

.break-inside-avoid {
  break-inside: avoid;
}