.screen-size {
  order: 0;
}

@media (min-width: 640px) {
  .screen-size {
    order: 1;
  }
}

@media (min-width: 960px) {
  .screen-size {
    order: 2;
  }
}

@media (min-width: 1200px) {
  .screen-size {
    order: 3;
  }
}

@media (min-width: 1600px) {
  .screen-size {
    order: 3;
  }
}